@media (max-width:1452px) {
    .home .socialVertical {
        left: -83px;
    }
}

@media (max-width:1402px) {
    .home .homeImg {
        width: 500px;
        height: 350px;
    }

    .home .homeContent {
        max-width: 500px;
        margin-right: 0rem;
    }

    .home .homeContent h1 {
        font-size: 4rem;
    }

    .home .homeContent .textLoader h2 {
        font-size: 3rem;
    }

    .home .homeContent .textLoader h2 {
        animation: typing1 8s steps(24) infinite;
    }

    @keyframes typing1
    {
        0%
        {
            width: 0;
        }
        30%{
            width: 446px;
        }
    }

    .element2{
        bottom: -19%;
    }
}

@media (max-width:1300px) {
    .home .socialVertical {
        left: -9%;
    }
}

@media (max-width:1220px) {
    .home .socialVertical {
        bottom: 22%;
        left: 8%;
        top: auto;
    }

    .home .socialVertical .socialMediaVertical {
        display: inline-block;
        list-style: none;
        padding: 0rem;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

}



@media (max-width:1200px) {
    html {
        font-size: 55%;
    }

    .home .homeContent .textLoader h2 {
        animation: typing2 8s steps(24) infinite;
    }

    @keyframes typing2
    {
        0%
        {
            width: 0;
        }
        30%{
            width: 393px;
        }
    }

    .adbanner{
        top: -28%;
    }

    .adbanner .contactus .btn i{
        top: 1.4rem;
    }
}

@media (max-width:1130px){
    .elmnt{
        min-width: 220px;
    }

    .element2{
        right: 1%;
    }

    .swiper-slide .card .medialinks a li ion-icon{
        font-size: 1.8rem;
    }
}

@media (max-width:1020px){
    .home .homeContent .textLoader h2 {
        animation: typing1 8s steps(24) infinite;
    }

    @keyframes typing1
    {
        0%
        {
            width: 0;
        }
        30%{
            width: 522px;
        }
    }

    .home .wrapper{
        flex-direction: column;
        margin-top: 18rem;
    }

    .home .socialVertical{
        display: none;
    }

   .home .homeContent{
        max-width: 600px;
        margin-left: 0rem;

    }

    .home .homeImg{
       max-width: 600px;
        height: 392px;
        margin-top: 9rem;
    }

    .element1{
        top: -13%;
    }

    .element2{
        bottom: 1%;
        right: -7%;
    }

    .home .homeContent h1 {
        font-size: 5rem;
    }

    .home .homeContent .textLoader h2 {
        font-size: 4rem;
    }

    .button a{
        font-size: 2.5rem;
    }

    .circle3{
        bottom: -1%;
        left: -6%;
    }

    .C1{
        top: 44%;
        left: 2%;
    }

    .work .wrapper{
        max-width: 80vw;
    }

    .work .wrapper .cardHolder .card span{
        font-size: 1.8rem;
    }

    .services .cardHolder{
        grid-template-columns: repeat(2, 38rem);
    }

    .services .wrapper{
        max-width: 80vw;
    }

    .partner .partner-slider .box{
        height: 8rem;
    }

    .partner-slider .swiper-slide {
        width: 11.5rem !important;
    }

    .slide p::before{
        top: -22%;
        left: 12%;
    }

    .slide p::after{
        bottom: -22%;
        right: 12%;
    }

    .adbanner{
        padding: 5rem 2rem;
        top: -24%;
    }
}

@media (max-width:972px){
    .footer .box-container .box:nth-child(3){
        border-right: none;
    }

    .adbanner{
        top: -16%;
    }
}


@media (max-width:900px) {
    .navigation {
        justify-content: space-between !important;
        padding: 1rem 3rem;
    }

    .navigation .navlinks {
        background: var(--black);
        display: block;
        height: 100%;
        left: 0;
        overflow: auto;
        padding: 10px 0 !important;
        position: fixed;
        top: 0;
        left: -40%;
        margin-top: 0.7rem;
        width: 260px;
        z-index: 99999;
        box-shadow: 0 0 5px rgba(0, 0, 0, .2);
        transition: 0.4s ease-in;
    }

    .navigation .navlinks.active {
        left: 0;
    }

    .navigation .navlinks .logo {
        display: block;
    }

    .navigation .navlinks li {
        border-bottom: 1px solid #ded5d5;
        display: block;
        padding: 5px 10px !important;
        position: relative;
    }

    .navigation .navlinks li:last-child {
        border-bottom: none;
    }

    .navigation .navlinks li a {
        display: inline-block;
        font-weight: 500;
        padding: 10px 0;
        text-transform: capitalize;
    }

    .navigation .navlinks li ion-icon {
        float: right;
        margin: 14px auto;
    }

    .navigation .navlinks li .sub-menu {
        width: 200px !important;
    }

    .navigation .navlinks li:hover ul.sub-menu {
        opacity: 1;
        visibility: visible;
        display: block;
        transform: translate(6.5rem, -5rem);
    }

    .navigation .navlinks li .sub-menu li {
        padding: 0 !important;
    }

    .navigation .menuBtn {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .features{
        padding-bottom: 38rem;
    }

    .adbanner{
        top: -22%;
        flex-direction: column;
        gap: 2rem;
        padding: 4rem;
        align-items: baseline !important;
    }

    .adbanner .offer p{
        font-size: 1.5rem;
    }

    .adbanner .offer h1{
        font-size: 3.5rem;
    }

    .adbanner .contactus h1{
        font-size: 3.5rem;
    }

    .adbanner .contactus .btn{
        margin-top: 0rem;
    }
}

@media (max-width:800px){
    .work .wrapper .cardHolder .card{
        min-width: 25rem;
    }

    .about .wrapper{
        flex-direction: column;
    }

    .about .wrapper .aboutImg{
        width: 68rem;
    }
}

@media (max-width:820px){
    .circle3{
        width: 15rem;
        height: 15rem;
    }
}

@media (max-width:700px){
    .work .wrapper .cardHolder .card{
        min-width: 25rem;
    }

    .client-slider{
        padding-bottom: 7rem;
    }
}

@media (max-width:672px){
    .footer .box-container .box:nth-child(2){
        border-right: none;
    }

    .footer .box-container .box:nth-child(3){
        border-right: 2px solid var(--green);
    }
}


@media (max-width:660px) {
    html {
        font-size: 45%;
    }

    .navigation .navlinks {
        width: 200px;
    }

    .navigation .navlinks li ul.sub-menu>li a {
        font-size: 1.5rem;
    }

    .home .homeContent{
        max-width: 450px;
    }

    .home .homeImg{
        min-width: 385px;
        height: 352px;
    }

    .elmnt{
        min-width: 170px;
    }

    .about .wrapper .textContent h3{
        font-size: 2.6rem;
    }

    .about .wrapper .textContent p{
        font-size: 2rem;
    }

    .about .wrapper .banner .logo p{
        font-size: 3rem;
    }

    .about .wrapper .banner h4{
        font-size: 2.4rem;
    }

    .about .wrapper .banner .rank{
        font-size: 3.7rem;
    }
    .services .cardHolder .card .readBtn a::before{
        top: -4px;
    }

    .swiper-slide .card .medialinks a li ion-icon{
        font-size: 2rem;
    }

    .client-details{
        margin-bottom: 3rem;
    }

    .client-details .name{
        font-size: 2.2rem;
    }

    .client-details .job{
        font-size: 1.8rem;
     }
    .slide p{
        font-size: 2rem;
    }

    .slide p::before{
        top: -25%;
        left: 13%;
    }

    .slide p::after{
        bottom: -25%;
        right: 13%;
    }
}

@media (max-width:600px){
    .element1{
        left: -2%;
    }

    .element2{
        right: -2%;
    }

    .work .wrapper .cardHolder{
        flex-direction: column;
        gap: 7rem;
    }

    .work .wrapper .cardHolder .card .img{
        min-width: 15rem;
        height: 15rem;
    }

    .work .wrapper .cardHolder .card span{
        font-size: 2.5rem;
    }

    .C2{
        display: block;
    }
}

@media (max-width:550px){
    .services .cardHolder{
        grid-template-columns: repeat(1, 55rem);
    }
    .services .cardHolder .card .serviceIcon{
        width: 10rem;
        height: 10rem;
    }
    .services .cardHolder .card .rank{
        font-size: 4.4rem;
    }

    .services .cardHolder .card h2{
        font-size: 3.5rem;
    }
    .services .cardHolder .card p{
        font-size: 2.2rem;
    }
    .services .cardHolder .card .readBtn a{
        font-size: 2.5rem;
    }
    .services .cardHolder .card .readBtn a::before{
        height: 30px;
        width: 30px;
        top: -1%;
    }

    .projects .cardHolder .card .prText h5 {
        color: var(--white);
        font-size: 2rem;
        text-transform: capitalize;
    }

    .projects .cardHolder .card .prText h3 {
        color: var(--white);
        font-size: 2.3rem;
        text-transform: capitalize;
    }

    .slide p::before{
        top: -16%;
        left: 16%;
    }

    .slide p::after{
        bottom: -16%;
        right: 16%;
    }
}

@media (max-width:526px){
    .about .wrapper .textContent{
        width: 58rem;
    }

    .about .wrapper .aboutImg{
        width: 58rem;
    }

}

@media (max-width:500px) {
    .navigation .logo p {
        font-size: 2.8rem;
    }

    .navigation .logo p span {
        font-size: 3.2rem;
    }

    .navigation .navlinks {
        left: -60%;
    }

    .navigation .navlinks li .sub-menu {
        width: 150px !important;
    }

    .navigation .menuBtn span {
        height: 3px;
    }

    .navigation .menuBtn span:nth-child(1) {
        transform: translateY(-9px);
    }

    .navigation .menuBtn span:nth-child(2) {
        transform: translateY(9px);
    }

    .home .homeContent{
        width: 380px;
    }

    .circle{
        width: 11rem;
        height: 11rem;
    }

    .circle3{
        bottom: 4%;
    }

    .home .homeContent h1 {
        font-size: 4rem;
    }

    .home .homeContent .textLoader h2 {
        font-size: 3.3rem;
    }

    .home .homeContent p{
        font-size: 2rem;
    }
    .home .homeImg{
        max-width: 385px;
    }

    .home .homeContent .textLoader h2 {
        animation: typing3 8s steps(24) infinite;
    }

    .element2{
        bottom: 18%;
    }


    @keyframes typing3
    {
        0%
        {
            width: 0;
        }
        30%{
            width: 353px;
        }
    }

    .slide p{
        padding: 0 9rem;
    }
    .slide p::before{
        left: 9%;
    }

    .slide p::after{
        right: 9%;
    }
}

@media (max-width:460px){
    .about .wrapper .textContent{
        width: 48rem;
    }

    .about .wrapper .aboutImg{
        width: 48rem;
    }
}

@media (max-width:420px){
    .elmnt{
        min-width: 143px;
    }

    .element1{
        top: -17%;
        left: 7%;
    }

    .element2{
        bottom: 13%;
        right: 7%;
    }

    .client-slider{
        padding-bottom: 7rem;
    }
}

@media (max-width:413px){

    .footer .box-container .box{
        border-right: none;
        border-bottom: 2px solid var(--green);
    }

    .footer .box-container .box:last-child{
        border-bottom: none;
    }

    .footer .box-container .box:nth-child(3){
        border-right: none;
    }
}

@media (max-width:400px){
    .services .cardHolder {
        grid-template-columns: repeat(1, 50rem);
    }
}

@media (max-width:385px){
    .home .homeContent{
        width: 350px;
    }

    .home .homeContent h1 {
        font-size: 3.8rem;
    }

    .home .homeContent .textLoader h2 {
        font-size: 3rem;
    }

    .home .homeContent p{
        font-size: 2rem;
    }

    .button a{
        font-size: 2rem;
    }

    .home .homeContent .textLoader h2 {
        animation: typing3 8s steps(24) infinite;
    }

    @keyframes typing3
    {
        0%
        {
            width: 0;
        }
        30%{
            width: 320px;
        }
    }
}