@import url('https://fonts.googleapis.com/css2?family=Saira:wght@200;400;500;700&display=swap');

:root {
    --green: #75dab4;
    --red: #dd0c39;
    --white: #fbfbfd;
    --black: #191a1c;
}

* {
    font-family: 'Saira', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

::after,
::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    position: relative;
    background: var(--white);
    overflow-x: hidden;
}

/* navigation css starts here */
.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--black);
    padding: 1rem 0.5rem;
    justify-content: space-evenly;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

.navigation .logo {
    position: relative;
}

.navigation .logo p {
    color: var(--white);
    font-size: 3.5rem;
    cursor: pointer;
    letter-spacing: 0.2px;
}

.navigation .logo p span {
    color: var(--green);
    font-size: 3.7rem;
    text-transform: uppercase;
    letter-spacing: -0.8px;
    font-weight: 500;
}

.navigation .navlinks {
    list-style: none;
}

.navigation .navlinks li {
    position: relative;
    cursor: pointer;
    padding: 0 2rem;
}

.navigation .navlinks .logo {
    display: none;
    border-bottom: 2px var(--green);
}

.navigation .navlinks .logo p {
    color: var(--white);
    font-size: 3.5rem;
    cursor: pointer;
    letter-spacing: 0.2px;
    text-align: center;
}

.navigation .navlinks .logo p span {
    color: var(--green);
    font-size: 3.7rem;
    text-transform: uppercase;
    letter-spacing: -0.8px;
    font-weight: 500;
}

.navigation .navlinks li a {
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--white);
    text-transform: capitalize;
}

.navigation .navlinks li:hover a {
    color: var(--green);
}

.navigation .navlinks li ion-icon {
    cursor: pointer;
    color: var(--white);
    font-size: 1.6rem;
    text-align: center;
    margin-left: 5px;
    transform: translateY(0rem);
    transition: 0.2s;
}

.navigation .navlinks li:hover ion-icon {
    transform: translateY(0.5rem);
    color: var(--green);
}

.navigation .navlinks li .sub-menu {
    background-color: #fff;
    box-shadow: 0 0 65px 0 rgba(0, 0, 0, .1);
    left: 0;
    margin: 0;
    width: 200px;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: left;
    top: auto;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    transition: all .5s ease-out 0s;
    visibility: hidden;
    z-index: 9;
}

.navigation .navlinks li .sub-menu {
    display: block;
    padding: 0;
}

.navigation .navlinks li:hover ul.sub-menu {
    opacity: 1;
    visibility: visible;
    display: block;
    transform: translateY(2rem);
}

.navigation .navlinks li ul.sub-menu li {
    position: relative;
    text-align: left;
    list-style: none;
    padding: 0;
}

.navigation .navlinks li ul.sub-menu>li a {
    position: relative;
    color: #000;
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    padding: 12px 20px;
    text-align: left;
    text-transform: capitalize;
    transition: all .5s ease-out 0s;
    border-bottom: 1px solid #ded5d5;
}

.navigation .navlinks li ul.sub-menu>li a:hover {
    border-bottom: none;
}

.navigation .navlinks li ul.sub-menu>li a::before {
    background: linear-gradient(96.98deg, var(--green), #ff5f45);
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left;
    transform-origin: left;
    transition: .4s ease-in;
    width: 100%;
}

.navigation .navlinks li ul.sub-menu>li:hover a::before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.navigation .contactBtn {
    position: relative;
}


.navigation .contactBtn .line1::after,
.navigation .contactBtn .line1::before {
    border: 1px solid var(--green);
    content: "";
    position: absolute;
    transition: all .3s ease-out 0s;
}

.navigation .contactBtn .line1::before {
    right: 0;
    top: 1px;
    width: 25px;
}

.navigation .contactBtn .line1::after {
    height: 25px;
    bottom: 1px;
}

.navigation .contactBtn .line2::after,
.navigation .contactBtn .line2::before {
    border: 1px solid var(--green);
    content: "";
    position: absolute;
}

.navigation .contactBtn .line2::after {
    left: 0;
    width: 25px;
    bottom: -1px;
}

.navigation .contactBtn .line2::before {
    top: 1px;
    height: 25px;
    right: 0;
}

.navigation .contactBtn a {
    position: relative;
    display: inline-block;
    padding: 0.5em 0.8em;
    color: var(--green);
    text-transform: capitalize;
    letter-spacing: 0.4px;
    text-decoration: none;
    font-size: 1.9rem;
    overflow: hidden;
    transition: 0.2s;
    z-index: 2;
}

.navigation .contactBtn:hover .line1::after {
    opacity: 0;
}

.navigation .contactBtn:hover .line2::after {
    opacity: 0;
}

.navigation .contactBtn:hover .line1::before {
    opacity: 0;
}

.navigation .contactBtn:hover .line2::before {
    opacity: 0;
}

.navigation .contactBtn a:hover {
    color: var(--white);
    background-color: var(--green);
    box-shadow: 0 0 10px var(--green), 0 0 20px var(--green), 0 0 40px var(--green);
    transition-delay: 0.8s;
}

.navigation .contactBtn a span {
    position: absolute;
    display: block;
}

.navigation .contactBtn a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, var(--green));
}

.navigation .contactBtn a:hover span:nth-child(1) {
    left: 100%;
    transition: 0.75s;
}

.navigation .contactBtn a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, var(--green));
}

.navigation .contactBtn a:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.4s;
}

.navigation .contactBtn a span:nth-child(2) {
    top: -100%;
    right: 0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, var(--green));
}

.navigation .contactBtn a:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.2s;
}

.navigation .contactBtn a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, var(--green));
}

.navigation .contactBtn a:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.61s;
}

.navigation .menuBtn {
    position: relative;
    width: 4.5rem;
    height: 4rem;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    display: none;
    margin-left: 5rem;
}

.navigation .menuBtn span {
    position: absolute;
    width: 3.8rem;
    height: 4px;
    background-color: var(--green);
    border-radius: 4px;
    transition: 0.5s;
}

.navigation .menuBtn span:nth-child(1) {
    transform: translateY(-11px);
    width: 2.8rem;
    left: 4px;
}


.navigation .menuBtn.active span:nth-child(1) {
    width: 3.8rem;
    transform: translateY(0px) rotate(45deg);
}

.navigation .menuBtn span:nth-child(2) {
    transform: translateY(11px);
    width: 2.4rem;
    left: 4px;
}

.navigation .menuBtn.active span:nth-child(2) {
    width: 3.8rem;
    transform: translateY(0px) rotate(315deg);
}

.navigation .menuBtn.active span:nth-child(3) {
    transform: translateX(4.5rem);
}

/* navigation css ends here */

/* css for home section starts here */

.home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: var(--black);
    justify-content: center;
    overflow: hidden;
}

.circle {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    position: absolute;
    top: 10%;
    left: -3%;
    transform: translate(-10%, 3%);
    background-image: linear-gradient(to right bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    box-shadow: 5px 10px 50px #83a099;
    animation: move 20s infinite ease-in-out;
    mix-blend-mode: exclusion;
}

.circle2 {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    position: absolute;
    top: -12%;
    right: 0%;
    background-image: linear-gradient(to right bottom, #c926bb, #ae44cf, #8c57dd, #6266e7, #1271eb);
    box-shadow: 5px 10px 133px #ce96dd;
    mix-blend-mode: plus-lighter;
}

.circle3 {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    position: absolute;
    bottom: -5%;
    right: -3%;
    background-image: linear-gradient(to right bottom, #75dab4, #3ab9af, #0096a5, #007491, #0c5276);
    box-shadow: 5px 10px 133px #83a099;
    mix-blend-mode: exclusion;
}

.home .socialVertical {
    left: -50px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.home .socialVertical .socialMediaVertical {
    display: inline-block;
    list-style: none;
    padding: 3rem;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.home .socialVertical .socialMediaVertical li {
    display: inline-block;
    padding: 0 12px;
    position: relative;
}

.home .socialVertical .socialMediaVertical li a {
    color: var(--white);
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ease-out 0s;
    text-transform: capitalize;
}

.home .socialVertical .socialMediaVertical li a:hover {
    color: var(--green);
}

.home .socialVertical .socialMediaVertical li a ion-icon {
    display: inline-block;
    font-size: 18px;
}

.home .homeContent {
    position: relative;
    max-width: 583px;
    padding: 1rem;
    margin: 0 3rem;
}


.home .homeContent h1 {
    color: var(--white);
    font-size: 4.8rem;
    font-weight: 800;
    text-align: left;
    text-transform: uppercase;
    display: block;
    width: 100%;

}

.home .homeContent .textLoader {
    margin-bottom: 3rem;
    position: relative;
    display: inline-block;
    align-self: flex-start;
    max-width: 100%;
}

.home .homeContent .textLoader::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: var(--green);
    animation: blinkCursor 0.8s steps(3) infinite;
    max-width: 100%;
}

@keyframes blinkCursor {

    0%,
    75% {
        opacity: 1;
    }

    76%,
    100% {
        opacity: 0;
    }
}



.home .homeContent .textLoader h2 {
    position: relative;
    -webkit-text-stroke: 1px var(--green);
    -webkit-text-fill-color: transparent;
    display: inline-block;
    text-align: left;
    font-size: 3.8rem;
    letter-spacing: .15em;
    overflow: hidden;
    white-space: nowrap;
    text-transform: capitalize;
    animation: typing 8s steps(24) infinite;
}

@keyframes typing {
    0% {
        width: 0;
    }

    30% {
        width: 563px;
    }
}

.home .homeContent p {
    color: var(--white);
    font-size: 16px;
    text-align: left;
    font-weight: 400;
    margin-bottom: 3rem;
}

.home .homeImg {
    position: relative;
    min-width: 554px;
    height: 390px;
}

.elmnt {
    display: flex;
    min-width: 245px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 2em 3.2em;
    z-index: 9;

}

.elmnt h1 {
    font-size: 3rem;
    color: var(--white);
    font-weight: bold;
    text-transform: capitalize;
}

.elmnt p {
    font-size: 2rem;
    color: var(--white);
    text-transform: capitalize;
}

.home .homeImg img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
}

.element1 {
    position: absolute;
    top: -21%;
    left: -7%;
    background-color: transparent;
    background-image: linear-gradient(180deg, var(--black) 0%, #7280fd 100%);
    opacity: 0.9;
}

.element2 {
    position: absolute;
    right: -4%;
    bottom: -11%;
    background-color: transparent;
    background-image: linear-gradient(180deg, #0a1324 0%, var(--green) 100%);
    opacity: 0.9;

}



.button a {
    position: relative;
    color: var(--white);
    background: var(--black);
    text-decoration: none;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    padding: 0.5em 0.8em;
    transition: 0.5s;
    border: 1px solid var(--green);
    text-transform: capitalize;
}

.button a:hover {
    letter-spacing: 0.25rem;
    background-color: var(--green);
    box-shadow: 0 0 35px var(--green);
}

.button a::before {
    content: '';
    position: absolute;
    inset: 2px;
    background-color: var(--black);
}

.button a span {
    position: relative;
    z-index: 1;
}

.button a i {
    position: absolute;
    inset: 0;
    display: block;
}

.button a i::before {
    content: '';
    position: absolute;
    top: -3.5px;
    left: 80%;
    width: 12px;
    height: 8px;
    border: 2px solid var(--green);
    background: var(--black);
    transform: translateX(-50%);
    transition: 0.5s;
}

.button a:hover i::before {
    left: 20%;
    width: 20px;
}

.button a i::after {
    content: '';
    position: absolute;
    bottom: -3.5px;
    left: 20%;
    width: 12px;
    height: 8px;
    border: 2px solid var(--green);
    background-color: var(--black);
    transform: translateX(-50%);
    transition: 0.5s;
}

.button a:hover i::after {
    left: 80%;
    width: 20px;
}

/* css for home section ends here */

/* css for work section starts here */

.work {
    position: relative;
    width: 100%;
    overflow: hidden;
    background: var(--black);
}

.C1 {
    border-radius: 50%;
    position: absolute;
    background-image: linear-gradient(to right bottom, #75dab4, #3ab9af, #0096a5, #007491, #0c5276);
    box-shadow: 5px 10px 133px #83a099;
    top: 22%;
    left: 2%;
    width: 8rem;
    height: 8rem;
}

.C2 {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    position: absolute;
    bottom: 12%;
    right: 2%;
    background-image: linear-gradient(to right bottom, #c926bb, #ae44cf, #8c57dd, #6266e7, #1271eb);
    box-shadow: 5px 10px 133px #ce96dd;
    display: none;
}

.work .wrapper {
    position: relative;
    width: 100%;
    padding: 5rem 0;
    max-width: 70vw;
}

.work .wrapper h1 {
    display: block;
    font-size: 5rem;
    font-weight: bold;
    color: var(--white);
    text-transform: capitalize;
    letter-spacing: 0.2px;
}

.work .wrapper h1 span {
    color: var(--green);
}

.work .wrapper p {
    font-size: 16px;
    color: var(--white);
    text-align: center;
    font-weight: 500;
    margin-top: 3rem;
}

.work .wrapper .cardHolder {
    position: relative;
    width: 100%;
    margin-top: 5rem;
    justify-content: space-evenly;
}

.work .wrapper .cardHolder .card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 30rem;
}

.work .wrapper .cardHolder .card:hover .img {
    transform: scale(1.2);
}

.work .wrapper .cardHolder .card .img {
    position: relative;
    min-width: 11rem;
    height: 11rem;
    transition: 0.2s linear;
}

.work .wrapper .cardHolder .card .img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
}

.work .wrapper .cardHolder .card span {
    display: block;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    color: var(--white);
    text-transform: capitalize;

}

/* css for work section ends here */

/* css for about section starts here */

.about {
    position: relative;
    width: 100%;
    overflow: hidden;
    background: var(--white);
}

.about .wrapper {
    position: relative;
    width: 100%;
    gap: 4rem;
    padding: 10rem 2rem;

}

.about .wrapper .textContent {
    position: relative;
    width: 100%;
    width: 68rem;
}

.about .wrapper .textContent h1 {
    display: block;
    font-size: 5rem;
    font-weight: bold;
    color: var(--black);
    text-transform: capitalize;
    letter-spacing: 0.2px;
}

.about .wrapper .textContent h1 span {
    color: var(--green);
}

.about .wrapper .textContent h3 {
    display: block;
    color: var(--black);
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom: 1rem;
    text-transform: capitalize;
}

.about .wrapper .textContent p {
    color: #272727;
    line-height: 1.8;
    font-size: 1.5rem;
    text-align: left;
    margin-bottom: 1rem;
    font-size: 1.8rem;
}

.about .wrapper .banner {
    position: relative;
    width: 100%;
    background: var(--black);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .05);
    padding: 1.4em 4.7em;
    margin-top: 2rem;
}

.about .wrapper .banner .rank {
    position: absolute;
    right: 5rem;
    font-size: 3rem;
    color: var(--green);
    font-weight: bold;
}

.about .wrapper .banner .logo p {
    color: var(--white);
    font-size: 2.8rem;
    cursor: pointer;
    letter-spacing: 0.2px;
    font-weight: bold;
}

.about .wrapper .banner .logo p span {
    color: var(--green);
    display: inline-block;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: -0.8px;
    font-weight: bold;
}

.about .wrapper .banner h4 {
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 500;
    color: var(--white);
}

.about .wrapper .banner h4 span {
    display: block;
    color: var(--green);
}

.about .wrapper .aboutImg {
    position: relative;
    width: 62rem;
    height: 47rem;
    border-radius: 40px 10px 10px 10px;
}

.about .wrapper .aboutImg::before {
    background-color: #0a0a0a;
    border-radius: 40px 10px 10px 10px;
    content: "";
    height: 100%;
    opacity: 0.5;
    position: absolute;
    width: 100%;
    z-index: 1;
}


.about .wrapper .aboutImg .mainImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    border-radius: 40px 10px 10px 10px;
}


.ab-img {
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: -10%;
    border-left: 10px solid #fff;
    border-radius: 20px 5px 10px 15px;
    border-top: 10px solid #fff;
    z-index: 1;

}

.ab-img::before {
    background-color: #0a0a0a;
    border-radius: 40px 10px 10px 10px;
    content: "";
    height: 100%;
    opacity: 0.5;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.about .wrapper .aboutImg .aboutImg2 {
    position: relative;
    width: 18rem;
    height: 25rem;
}

.about .wrapper .aboutImg .aboutImg2 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    border-radius: 40px 10px 10px 10px;
}

/* css for services starts here */

.services {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-image: url(images/bg2.png);
    background-color: var(--black);
    padding-bottom: 5rem;
}

.services .wrapper {
    position: relative;
    width: 100%;
    padding: 5rem 0rem;
    max-width: 70vw;
}

.services .wrapper h1 {
    display: block;
    font-size: 5rem;
    font-weight: bold;
    color: var(--white);
    text-transform: capitalize;
    letter-spacing: 0.2px;
    text-align: center;
}

.services .wrapper h1 span {
    color: var(--green);
}

.services .wrapper p {
    font-size: 16px;
    color: var(--white);
    text-align: center;
    font-weight: 500;
    margin-top: 3rem;
}


.services .cardHolder {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 38rem);
    place-content: center;
}

.services .cardHolder .card {
    position: relative;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .05);
    border: 1px solid var(--green);
    background-color: var(--black);
    padding: 4rem 2rem;
    cursor: pointer;
    margin: 1rem 1.2rem;
    transition: 0.2s linear;
    overflow: hidden;
}

.services .cardHolder .card:hover {
    background: black;
    border: none;
}

.services .cardHolder .card:hover .rank {
    -webkit-text-fill-color: var(--green);
}

.services .cardHolder .card span {
    transition: 0.3s;
    opacity: 0;
}

.services .cardHolder .card:hover span {
    opacity: 1;
}

.services .cardHolder .card span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-image: linear-gradient(to right, transparent, var(--green));
    animation: cardAnimate1 1.5s linear infinite;
}

@keyframes cardAnimate1 {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

.services .cardHolder .card span:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background-image: linear-gradient(to bottom, transparent, var(--green));
    animation: cardAnimate2 1.5s linear infinite;
    animation-delay: 0.7s;
}

@keyframes cardAnimate2 {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(100%);
    }
}

.services .cardHolder .card span:nth-child(3) {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-image: linear-gradient(to left, transparent, var(--green));
    animation: cardAnimate3 1.5s linear infinite;
}

@keyframes cardAnimate3 {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.services .cardHolder .card span:nth-child(4) {
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background-image: linear-gradient(to top, transparent, var(--green));
    animation: cardAnimate4 1.5s linear infinite;
    animation-delay: 0.7s;
}

@keyframes cardAnimate4 {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(-100%);
    }
}

.services .cardHolder .card .wrapper1 {
    width: 100%;
}

.services .cardHolder .card .rank {
    position: absolute;
    right: 6%;
    top: 6%;
    font-size: 3.4rem;
    -webkit-text-stroke: 1px #868c8a;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.services .cardHolder .card .serviceIcon {
    position: relative;
    width: 8rem;
    height: 8rem;
    margin-bottom: 1rem;
}

.services .cardHolder .card .serviceIcon img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
}

.services .cardHolder .card h2 {
    width: 100%;
    font-size: 2.5rem;
    font-style: normal;
    text-align: left;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--white);
    margin-bottom: 1rem;
}

.services .cardHolder .card p {
    font-size: 1.8rem;
    width: 100%;
    text-align: left;
    color: var(--white);
    margin-bottom: 1rem;
}


.services .cardHolder .card .readBtn {
    text-align: right;
    transition: 0.2s;
}

.services .cardHolder .card .readBtn a {
    position: relative;
    font-size: 1.5rem;
    text-transform: capitalize;
    color: var(--green);
    transition: all .5s ease-out 0s;
    cursor: pointer;
}

.services .cardHolder .card .readBtn:hover a {
    color: var(--white);
}

.services .cardHolder .card .readBtn a::before {
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-name: rotator;
    animation-timing-function: linear;
    border: .8px solid var(--green);
    border-radius: 50%;
    box-sizing: border-box;
    content: "";
    height: 25px;
    left: -10px;
    position: absolute;
    top: -2px;
    transition: all .2s cubic-bezier(.98, .57, 1, 1) 0s;
    width: 25px;
}

@keyframes rotator {
    0% {
        opacity: 1;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    /* 25% {
        opacity:1;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
      } */

    50% {
        /* opacity: 1; */
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    100% {
        opacity: 1;
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}

/* css for services ends here */

/* css for project starts here  */
.projects {
    position: relative;
    background: var(--white);
}

.projects .wrapper h1 {
    color: var(--black);
}

.projects .wrapper p {
    color: var(--black);
}

.projects .wrapper .categoryBtn {
    width: 100%;
    margin-top: 3rem;
    flex-wrap: wrap;
    gap: 1rem;
}

.projects .wrapper .categoryBtn span {
    display: block;
    font-size: 1.8rem;
    color: var(--white);
    background: var(--black);
    padding: 0.2em 1.2em;
    font-weight: 500;
    margin-right: 1.8rem;
    border-radius: 20px;
    cursor: pointer;
}

.projects .wrapper .categoryBtn span:hover {
    background: var(--green);
    color: var(--black);
}


.projects .wrapper .categoryBtn span:last-child {
    margin-right: 0rem;
}

.projects .cardHolder {
    background: var(--white);
}

.projects .cardHolder .card {
    position: relative;
    border: none;
    padding: 0rem;
    border-radius: 10px;
    transition: 0.3s ease-in;
}

.projects .cardHolder .card:hover {
    background: none;
}

.projects .cardHolder .card img {
    position: relative;
    width: 100%;
    height: 40rem;
}

.projects .cardHolder .card .prText {
    position: absolute;
    width: 94%;
    bottom: 4%;
    left: 3%;
    background: var(--black);
    padding: 2rem;
    border-radius: 8px;
    transition: all 0.3s ease-out;
}

.projects .cardHolder .card:hover .prText {
    height: 13rem;
}

.projects .cardHolder .card .prText h5 {
    color: var(--white);
    font-size: 1.5rem;
    text-transform: capitalize;
}

.projects .cardHolder .card .prText h3 {
    color: var(--white);
    font-size: 2rem;
    text-transform: capitalize;
}

.projects .cardHolder .card .prText .readBtn {
    transform: translateY(-100%);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in;
}

.projects .cardHolder .card:hover .prText .readBtn {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
    display: block;
}


/* css for projects ends here */

/* css for partner starts here */

.partner {
    position: relative;
    background: var(--black);
    padding: 8rem 1rem;
}

.partner h1 {
    font-size: 5rem;
    color: var(--white);
    padding: 0.1em 0.55em;
    text-align: center;
    border-right: 4px solid var(--green);
    text-transform: capitalize;
}

.partner h1 span {
    color: var(--green);
}

.partner .partner-slider {
    padding: 1rem;
    width: 60vw;
}

.partner-slider {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.partner-slider .swiper-slide {
    width: 16.5rem !important;
}

.partner .partner-slider .box {
    background: black;
    padding: 3rem 2rem;
    width: 5rem;
    height: 10rem;
    border-radius: 5px;
}

.partner .partner-slider .box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: scale-down;
}

/* css for partners ends here */

/* css for team member starts here */

.members {
    background: var(--white);
}

.members .wrapper h1 {
    color: var(--black);
}

.members .wrapper p {
    color: var(--black);
}

.swiper {
    width: 100%;
    height: 100%;
    background: transparent !important;
    max-width: 80vw;
}

.m-swiper {
    padding-bottom: 2rem !important;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide .card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 40rem;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid var(--green);
    box-shadow: 0 0 10px rgba(0, 0, 0, .05);
}

.swiper-slide .card .img {
    display: block;
    position: relative;
    width: 100%;
    height: 35rem;
    border-radius: 10px 10px 0 0;
    background: var(--black);
}

.swiper-slide .card .img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--black);
    opacity: 0.4;
    z-index: 1;
    transform: translateY(-100%);
    transition: 0.3s ease-in;
}

.swiper-slide .card:hover .img::before {
    transform: translateY(0%);
}

.swiper-slide .card .img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
    object-fit: contain;
}

.swiper-slide .card .details {
    width: 100%;
    padding: 2rem;
    transition: 0.3s linear;
    background-color: var(--white);
}

.swiper-slide .card:hover .details {
    background: var(--black);
}

.swiper-slide .card .details h4 {
    font-size: 2.5rem;
    color: var(--black);
    font-weight: 500;
    text-transform: capitalize;
}

.swiper-slide .card:hover .details h4 {
    color: var(--white);
}

.swiper-slide .card .details h5 {
    font-size: 1.5rem;
    color: #5f6062;
    font-weight: 500;
    letter-spacing: 0.3px;
    text-transform: capitalize;
}

.swiper-slide .card:hover .details h5 {
    color: var(--green);
}

.swiper-slide .card .medialinks {
    display: inline-block;
    position: absolute;
    top: 3%;
    left: 4%;
    transform: translateY(-110%);
    transition: 0.3s ease-in;
    z-index: 2;
}

.swiper-slide .card:hover .medialinks {
    transform: translateY(0%);
}

.swiper-slide .card .medialinks a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.swiper-slide .card .medialinks a li {
    display: block;
    list-style: none;
}

.swiper-slide .card .medialinks a li ion-icon {
    color: var(--white);
    font-size: 1.8rem;
    background: var(--black);
    padding: 0.4em;
    border-radius: 50%;
}

.swiper-slide .card .medialinks a li ion-icon:hover {
    background: var(--green);
    color: var(--black);
}

/* css f0r team member ends here */

/* css for testimonials starts here */
.testimonials{
    background-image: url(images/bg2.png);
    background-color: var(--black);
    background-position: 50%;
    background-size: cover;
}

.testimonials .wrapper h1 span {
    position: relative;
}



.client-slider {
    position: relative;
    width: 100%;
    max-width: 90rem;
    background-color: transparent;
    overflow: hidden;
    padding-bottom: 8rem;
}

.client-slider img {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    object-fit: cover;
    margin: 1rem 0 1rem 0
}

.client-details {
    margin-bottom: 4rem;
}

.client-details span {
    display: block;
    text-transform: capitalize;
    cursor: pointer;
}

.client-details .name {
    color: var(--white);
    font-size: 2rem;
    font-weight: 600;
}

.client-details .job {
    color: var(--green);
    font-size: 1.5rem;
}

.slide p {
    position: relative;
    color: var(--white);
    font-size: 1.6rem;
    font-style: oblique;
    line-height: 3.5rem;
    padding: 0 15rem;
}

.slide p::before {
    content: "\f10d";
    position: absolute;
    top: -40%;
    left: 11%;
    font-size: 4rem;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: var(--green);
}

.slide p::after {
    content: "\f10e";
    position: absolute;
    bottom: -40%;
    right: 11%;
    font-size: 4rem;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: var(--green);
}

.swiper-button-next,
.swiper-button-prev {
    color: var(--white) !important;
}

.nav-btn {
    width: 4rem !important;
    height: 4rem !important;
    border-radius: 50%;
    background-color: #323232;
}

.nav-btn:hover {
    background-color: var(--green);
}

.nav-btn::before,
.nav-btn::after {
    font-size: 20px !important;
    font-weight: bold;
}

.swiper-pagination-bullet {
    background-color: var(--green) !important;
}

/* css for testimonials ends here */

/* css for features starts here */

.features {
    position: relative;
    background: var(--white);
    padding-bottom: 26rem;

}

.features .wrapper h1 {
    color: var(--black);
}

.features .cardHolder {
    width: 100%;
    max-width: 80vw;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    justify-content: center;
    place-content: center;
}

.features .cardHolder .card {
    background: var(--white);
    border-radius: 10px;
    box-shadow: inset 0 0 10px rgba(6, 6, 6, .15);
    padding: 50px 30px;
    -webkit-transform: skewY(-5deg);
    transform: skewY(-5deg);
    transition: all .5s ease-out 0s;
}

.features .cardHolder .card .inner {
    text-align: center;
    -webkit-transform: skewY(5deg);
    transform: skewY(5deg);
    transition: all .5s ease-out;
}

.features .cardHolder .card:hover {
    background: var(--black);
    transform: skewY(0deg);
    border: 1px solid var(--green);
}

.features .cardHolder .card:hover .inner{
    transform: skewY(0deg);
}

.features .cardHolder .card:hover .inner div{
    color: var(--white);
}

.features .cardHolder .card .inner img{
    width: 8rem;
    height: 8rem;
    object-fit: cover;
}

.features .cardHolder .card .inner div{
    color: var(--black);
   text-transform: capitalize;
    font-weight: bold;
}

.features .cardHolder .card .inner .number{
    font-size: 4rem;
    margin-bottom: -1rem;
}

.features .cardHolder .card .inner .attr{
    font-size: 1.8rem;
}



/* css for features ends here */

/* css for footer starts here */
.footer {
    position: relative;
    background-image: url(images/bg2.png);
    background-color: var(--black);
    width: 100%;
    margin-bottom: 0;
    padding: 1.5em;
}

.adbanner{
    position: absolute;
    top: -30%;
    left: 7%;
    min-width: 85vw;
    background-image: url(Images/bg.png);
    background-position: 50%;
    background-size: cover;
    border-radius: 10px;
    background-color: var(--black);
    padding: 5rem 8rem;
}

.adbanner .offer p{
    width: 100%;
    text-align: left;
    font-size: 1.8rem;
    color: var(--white);
    text-transform: capitalize;
}

.adbanner .offer .right{
    text-align: right;
    font-size: 1.4rem;
}

.adbanner .offer span{
    color: var(--green);
}

.adbanner .offer h1{
    text-transform: capitalize;
    font-size: 4rem;
    color: var(--white);
}

.adbanner .contactus h1{
    font-size: 4rem;
    text-transform: capitalize;
    color: var(--white);
}

.adbanner .contactus h1 span{
    color: var(--green);
}

.adbanner .contactus .btn{
    position: relative;
    margin-top: 2rem;
    padding: 1em 1.4em;
    background: var(--green);
    border-radius: 2rem;
    overflow: hidden;
    transition: 0.3s ease-in;
}

.adbanner .contactus .btn i{
    position: absolute;
    color: var(--white);
    font-size: 1.4rem;
    transform: translatex(3rem);
    top: 1.5rem;
    right: 1.2rem;
    transition: 0.3s ease-in;
}

.adbanner .contactus .btn:hover{
    padding: 1em 3em 1em 1.4em;
    background: var(--black);
    border: 1px solid var(--green);
}

.adbanner .contactus .btn:hover i{
    transform: translateX(0rem);

}


.adbanner .contactus .btn a{
    position: relative;
    font-size: 1.4rem;
    text-transform: uppercase;

    color: var(--white);
    text-decoration: none;

}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
    padding: 10rem 1.5rem 0 1.5rem;
}

.footer .box-container .box {
    position: relative;
    border-right: 2px solid var(--green);
}

.footer .box-container .box:last-child {
    border-right: none;
}

.footer .box-container .box h3 {
    font-size: 2.5rem;
    color: var(--white);
    padding: 1rem 0;
    text-transform: capitalize;
}

.footer .box-container .box h3 i {
    color: var(--blue);
}

.footer .box-container .box .links {
    display: block;
    font-size: 1.5rem;
    color: var(--white);
    padding: 1rem 0;
    text-transform: capitalize;
    transition: 0.3s ease-in;
}

.footer .box-container .box .links i {
    color: var(--white);
    padding-right: .5rem;
}

.footer .box-container .box .links:hover {
    color: var(--green);
}

.footer .box-container .box .links:hover i {
    padding-right: 2rem;
    color: var(--green);
}


.footer .box-container .box p {
    line-height: 1.8;
    font-size: 1.5rem;
    color: var(--white);
    padding: 1rem 0;
}

.footer .box-container .box .share a {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    color: var(--white);
    margin-right: .2rem;
    background: #323232;
    text-align: center;
    margin-right: 2.5rem;
    transition: .8s ;
}

.footer .box-container .box .share a:last-child{
    margin-right: 0rem;
}

.footer .box-container .box .share a:hover {
    background: var(--green);
    color: var(--white);
    transform: rotate(360deg);
}

.footer .box-container .box .company-links {
    display: block;
    font-size: 1.5rem;
    color: var(--white);
    padding: 1rem 0;
    text-transform: capitalize;
    transition: .3s ease-in;
}

.footer .box-container .box .company-links:hover {
    color: var(--green);
}



.footer .credit {
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: var(--white);
    border-top: 1px solid var(--green);
}

.footer .credit span {
    color: var(--white);
}

/* css for footer section ends here */